<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <a href='/books'>Книги</a>
        <a href='/authors/'>авторы </a>
        <h1 style = 'color: red'> Тут будет список книг:<h1>
        {% for object in object_list %}
            <h2><a href="{{ url_for('book', num = loop.index -1) }}">   
                {{ object.1 }} - {{ loop.index - 1 }}
            </a>
            </h2>
        {% endfor %}
</body>
</html>